<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrdersMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status,
        amount, remark, phone, address, user_name, consignee, cancel_reason, rejection_reason, cancel_time,
        estimated_delivery_time, delivery_status, delivery_time, pack_amount, tableware_number, tableware_status ) VALUES
        (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod}, #{payStatus},
        #{amount}, #{remark}, #{phone}, #{address}, #{userName}, #{consignee}, #{cancelReason}, #{rejectionReason},
        #{cancelTime}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{deliveryTime}, #{packAmount}, #{tablewareNumber},
        #{tablewareStatus});
    </insert>

    <update id="update" parameterType="com.sky.entity.Orders">
        UPDATE orders
        <set>
            <if test="cancelReason != null AND cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null AND rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM orders
        <where>
            <if test="orders.userId != null">
                AND user_id = #{orders.userId}
            </if>
            <if test="orders.number != null">
                AND number = #{orders.number}
            </if>
            <if test="orders.phone != null">
                AND phone = #{orders.phone}
            </if>
            <if test="orders.status != null">
                AND status = #{orders.status}
            </if>
            <if test="beginTime != null and endTime != null">
                AND order_time BETWEEN #{beginTime} AND #{endTime}
            </if>
        </where>
    </select>

    <select id="pageQuery" resultType="com.sky.entity.Orders">
        SELECT * FROM orders
        <where>
            <if test="orders.userId != null">
                AND user_id = #{orders.userId}
            </if>
            <if test="orders.number != null">
                AND number = #{orders.number}
            </if>
            <if test="orders.phone != null">
                AND phone = #{orders.phone}
            </if>
            <if test="orders.status != null">
                AND status = #{orders.status}
            </if>
            <if test="beginTime != null and endTime != null">
                AND order_time BETWEEN #{beginTime} AND #{endTime}
            </if>
        </where>
        LIMIT #{startPage}, #{pageSize}
    </select>

    <select id="sumByMap" resultType="java.lang.Double">
        SELECT SUM(amount) FROM orders
        <where>
            <if test="begin != null">
                AND order_time &gt; #{begin}
            </if>
            <if test="end != null">
                AND order_time &lt; #{end}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM orders
        <where>
            <if test="begin != null">
                AND order_time &gt; #{begin}
            </if>
            <if test="end != null">
                AND order_time &lt; #{end}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="getSalesTopTen" resultType="com.sky.dto.GoodsSalesDTO">
        SELECT OD.name, SUM(OD.number) number
        FROM order_detail OD
        JOIN orders O ON OD.order_id = O.id
        WHERE O.status = 5
        <if test="begin != null">
            AND order_time &gt; #{begin}
        </if>
        <if test="end != null">
            AND order_time &lt; #{end}
        </if>
        GROUP BY OD.name
        ORDER BY number DESC
        LIMIT 0, 10
    </select>
</mapper>